1-lead-generation-cold-email/Leads+to+CRM(1).json
{
  "name": "Leads to CRM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU",
          "mode": "list",
          "cachedResultName": "apollo leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1144472616,
          "mode": "list",
          "cachedResultName": "drafted emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU/edit#gid=1144472616"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "action"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "18008493-aa76-47d3-bcc5-781df2170c31",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "2gEUOH1bOP2nPFaG",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ca40506-1d18-4b82-ae92-f2d2f0004cf7",
              "leftValue": "={{ $json.action }}",
              "rightValue": "Done",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "213b3940-2d0e-4afd-b873-1a8b4ad4d1fe",
              "leftValue": "={{ $json['notion Id'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "15ba06e6-40fe-40a2-8b22-213da7ac5a71",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        320,
        -16
      ],
      "id": "94f29579-11bd-4d5b-a8ec-5835a318d3c7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "24adf17f-c7d6-80bf-ad5b-cf1076eb5686",
          "mode": "list",
          "cachedResultName": "Test Database",
          "cachedResultUrl": "https://www.notion.so/24adf17fc7d680bfad5bcf1076eb5686"
        },
        "title": "={{ $json.company }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|rich_text",
              "textContent": "={{ $json.name }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Status|select",
              "selectValue": "Email Sent"
            },
            {
              "key": "Title|rich_text",
              "textContent": "={{ $json.title }}"
            },
            {
              "key": "Last Communication|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        640,
        0
      ],
      "id": "d7cf39b8-6c20-41e3-97b4-0045fddbff7b",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "Yt7l0AuczxFrVTKo",
          "name": "XYZ CRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU",
          "mode": "list",
          "cachedResultName": "apollo leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1144472616,
          "mode": "list",
          "cachedResultName": "drafted emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FVtEvs7M-JYtSTIFHdS2Z770qsNmss46cqCvuqBbVnU/edit#gid=1144472616"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "notion Id": "={{ $json.id }}",
            "email": "={{ $json.property_email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft",
              "displayName": "draft",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notion Id",
              "displayName": "notion Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        976,
        0
      ],
      "id": "8014996c-f0b0-48bc-bcf6-b1ebed8718d0",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "p8hJNMEFTqRxnNMO",
          "name": "Public Sheet"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ae0f60fd-c560-4fea-8574-c38c5d30a590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3261c478aff4b163520820f021817138b2454c49859c71acb92208b343ce1eb1"
  },
  "id": "KTHCsYSGVBH8FjCU",
  "tags": [
    {
      "name": "sales automation",
      "id": "y06wYDsDlwLrVyJD",
      "createdAt": "2025-08-09T16:21:13.080Z",
      "updatedAt": "2025-08-09T16:21:13.080Z"
    }
  ]
}